.about {
  padding: 80px 0 80px 104px;
}

.about__content {
  max-width: 1440px;
  display: flex;
}

.about__image {
  border-radius: 50%;
  width: 464px;
  height: 464px;
  object-fit: cover;
  margin-right: 56px;
}

.about__author-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.about__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  margin: 51px 0 24px;
  height: 46px;
  max-width: 100%;
}

.about__paragraph {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  height: 120px;
}

@media screen and (max-width: 1224px) {
  .about {
    padding: 40px 40px 61px 40px;
  }

  .about__image {
    width: 320px;
    height: 320px;
    margin-right: 32px;
  }

  .about__title {
    width: 424px;
    margin-top: 0;
  }

  .about__paragraph {
    height: 120px;
    width: 424px;
  }
}

@media screen and (max-width: 818px) {
  .about__image {
    width: 232px;
    height: 232px;
    /* margin-right: ; */
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    width: 424px;
    margin-bottom: 16px;
  }

  .about__paragraph {
    width: 424px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 728px) {
  .about {
    padding: 32px 16px;
  }

  .about__content {
    flex-direction: column;
    align-items: center;
  }
}
