.navigation {
  display: flex;
  align-items: center;
  padding-right: 104px;
}

.navigation__link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  margin-right: 42px;
}

.navigation__link-saved {
  margin-right: 64px;
  margin-left: 34px;
}

.navigation__link::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: -10px;
  width: 68px;
  height: 3px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navigation__link-saved::after {
  content: "";
  position: absolute;
  width: 176px;
  height: 3px;
  background-color: #ffffff;
  bottom: -28px;
  left: -30px;
}
.navigation__link:hover::after,
.navigation__link.active::after {
  transform: scaleX(1);
}

.navigation__button {
  width: 176px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navigation__button-logout {
  width: 112px;
}

.navigation__button:hover {
  opacity: 0.8;
}
